# Ambientes virtuais
envs/
venv/
.venv/

# Dados
data/raw/
data/processed/

# Artefatos
models/
outputs/
notebooks/notebooks_model.md
#docs/

# Jupyter
.ipynb_checkpoints/
*.ipynb_out.ipynb
__pycache__/
*.pyc